Que:1. What is a database? Differentiate between SQL and NoSQL databases.

Ans : Database:-

Database is the place or medium which is used to store the data in a systemetic and organise manner.

Differences between SQL and NoSQL database: 
    
SQL :
    
=> SQL, which stands for “Structured Query Language,” is the programming language that’s been widely used in managing data in relational database management systems (RDBMS).

=> SQL databases have fixed or static or predefined schema. 

=> SQL databases display data in form of tables so it is known as table-based database.

=> SQL databases are vertically scalable.

=> SQL databases are best suited for complex queries.

=> SQL databases are not best suited for hierarchical data storage.

=> Some Examples are MySQL, Oracle, Sqlite, PostgreSQL and MS-SQL etc.

NoSQL :-

=> NoSQL databases are categorized as Non-relational or distributed database system.

=> NoSQL databases have dynamic schema.

=> NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores.

=> NoSQL databases are horizontally scalable.

=> NoSQL databases are not so good for complex queries because these are not as powerful as SQL queries.

=> NoSQL databases are best suited for hierarchical data storage.

=> Some examples are MongoDB, BigTable, Redis, RavenDB, Cassandra, Hbase, Neo4j, CouchDB etc.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans: DDL :- DDL stands for "data definition language" .it  is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc.

DDL commands as follows.

1- Create : This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

e.g :- 
CREATE TABLE Student
(
Student_Id INTEGER PRIMARY KEY,
Student_name varchar(30),
Branch varchar(10)
);

2- Alter : This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

e.g: ALTER TABLE Student ADD PRIMARY KEY (student_pk);

3- truncate : This command is used to remove all rows from the table, but the structure of the table still exists.

e.g: TRUNCATE TABLE Student;


4- drop : A drop command is used to delete objects such as a table, index or view. A DROP statement cannot be rolled back, so once an object is destroyed, there’s no way to recover it.

e.g: DROP TABLE Student;

Que:3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans : DML : 

DML stands for Data Manipulation Language, which is a set of SQL commands used to manipulate and modify the data stored in a database. DML statements are used to insert, update, delete, and retrieve data from a database.

1- INSERT: This command adds one or more records to a database table. 

e.g:
    
Insert into Student(Student_id, Student_name) values (001, “ Milan”);
Insert into Student(Student_id, Student_name) values (002, “ Silan”);
Insert into Student(Student_id, Student_name) values (003, “ Khushi”);

2- UPDATE: This command modifies data of one or more records.

e.g :
    
UPDATE Student SET Student_name= Shreya WHERE Student_id= 001;

3- DELETE: Delete command is used to delete records from a database table.

e.g:
    
DELETE from Student WHERE Student_id=002;

Que:4. What is DQL? Explain SELECT with an example.

Ans: DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database. DQL statements are used to query the database and retrieve specific data based on specified criteria. 
The most commonly used DQL statement is SELECT.

SELECT:
    
Select command helps you to select the attribute based on the condition described by the WHERE clause.

In [ ]:
SELECT Student_name FROM Student WHERE Student_id=003;

Que:5. Explain Primary Key and Foreign Key.

Ans : Primary Key:-
A Primary key is a unique column we set in a table to easily identify and locate data in queries. A table can have only one primary key.

The primary key column has a unique value and doesn’t store repeating values. A Primary key can never take NULL values.

In [ ]:
CREATE TABLE Students (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    email VARCHAR(200),
    age INT
);

Foreign key: -

A Foreign key is beneficial when we connect two or more tables so that data from both can be put to use parallelly.

A foreign key is a field or collection of fields in a table that refers to the Primary key of the other table. It is responsible for managing the relationship between the tables.

The table which contains the foreign key is often called the child table, and the table whose primary key is being referred by the foreign key is called the Parent Table.

In [ ]:
CREATE TABLE Courses (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    instructor_id INT,
    FOREIGN KEY (instructor_id) REFERENCES instructors(id)
);

Que: 6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans: 1- Install MySQL connector module:
    
Use the pip command to install MySQL connector Python.

In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp310-cp310-manylinux1_x86_64.whl (23.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 23.5/23.5 MB 22.7 MB/s eta 0:00:0000:0100:01
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 71.0 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.21.8
    Uninstalling protobuf-4.21.8:
      Successfully uninstalled protobuf-4.21.8
Successfully installed mysql-connector-python-8.0.32 protobuf-3.20.3
Note: you may need to restart the kernel to use updated packages.

In [ ]:
2- Import MySQL connector module:
    
Import using a import mysql.connector statement so you can use this module’s methods to communicate with the MySQL database.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="database"
)

mycursor = mydb.cursor()

3 -Use the connect() method:
    
Use the connect() method of the MySQL Connector class with the required arguments to connect MySQL. It would return a MySQLConnection object if the connection established successfully

4- Use the cursor() method:
 
 Use the cursor() method of a MySQLConnection object to create a cursor object to perform various SQL operations.
    
5-  Use the execute() method :
    
The execute() methods run the SQL query and return the result.

6- Extract result using fetchall():
    
Use cursor.fetchall() or fetchone() or fetchmany() to read query result.

7- Close cursor and connection objects:
    
use cursor.clsoe() and connection.clsoe() method to close open connections after your work completes

Que:7. Give the order of execution of SQL clauses in an SQL query.

Ans : The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.